HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### USERSERVICE ###

### Resources ###
/UserService/src/main/resources/*
!/UserService/src/main/resources/application-example.yml
!/UserService/src/main/resources/keys/generated-keys.md

### docker ###
/UserService/docker-compose.yml
!/UserService/docker-compose-example.yml


### EMAILSERVICE ###

### Resources ###

/EmailService/src/main/resources/*
!/EmailService/src/main/resources/application-example.yml
!/EmailService/src/main/resources/keys/generated-keys.md
### docker ###
/EmailService/docker-compose.yml
!/EmailService/docker-compose-example.yml